server:
  port: 8005
  servlet:
    encoding:
      enabled: true
      force: true
      charset: UTF-8
spring:
  application:
    name: SAA-05Persistent
  ai:
    dashscope:
      api-key: ${aliQwen-api}
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      connect-timeout: 3
      timeout: 2